@charset "UTF-8";
body {
    background: rgb(167, 164, 108);
}

div {
    background: white;
    border-radius: 10px;
    padding: 5px;
    width: 340px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.237);
}

.box>a {
    font-style: italic;
    color: rgba(242, 4, 4, 0.812);
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    margin: 10px;
    padding: 15px;
}