@charset "UTF-8";

html {
    scroll-behavior: smooth;
}
.borda-fundo{
    background-color:#f1f1f1;
}  



.borda-fundo > p{
  padding: 0;
}
.box {
    background: #4cb4dc;
    padding: 5px;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.304);
    text-align: center;
}

.carousel > .carousel-inner > .carousel-item > img{
    height:280px;
    width:100%;
}

h1 {
    padding: 25px;
}

p {  
    font-size: 20px;
    letter-spacing: 3px;
    margin: 10px;
    padding: 15px;
}

.imgBody {
    max-width: 200px;
    display: block;
    padding: 30px;
}

a>.imgBody {
    max-width: 50px;
}

#logo{
    max-width: 133px;
    max-height: 33px;
    display: block;
}

#top {
    position: fixed;
    right: 10px;
    bottom: 5px;
}
footer{
    color:white;
}

